web/wsdl/ConsultarListaDeNotarios.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://webservices.cancelacion.gisnet.com/" name="ConsultarListaDeNotarios" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.cancelacion.gisnet.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.cancelacion.gisnet.com/" schemaLocation="ConsultarListaDeNotarios_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarListaDeNotarios">
    <part name="parameters" element="tns:consultarListaDeNotarios"/>
  </message>
  <message name="consultarListaDeNotariosResponse">
    <part name="parameters" element="tns:consultarListaDeNotariosResponse"/>
  </message>
  <message name="consultarListaDeNotariosAdai">
    <part name="parameters" element="tns:consultarListaDeNotariosAdai"/>
  </message>
  <message name="consultarListaDeNotariosAdaiResponse">
    <part name="parameters" element="tns:consultarListaDeNotariosAdaiResponse"/>
  </message>
  <message name="entidad">
    <part name="parameters" element="tns:entidad"/>
  </message>
  <message name="entidadResponse">
    <part name="parameters" element="tns:entidadResponse"/>
  </message>
  <portType name="ConsultarListaDeNotarios">
    <operation name="consultarListaDeNotarios">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/consultarListaDeNotariosRequest" message="tns:consultarListaDeNotarios"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/consultarListaDeNotariosResponse" message="tns:consultarListaDeNotariosResponse"/>
    </operation>
    <operation name="consultarListaDeNotariosAdai">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/consultarListaDeNotariosAdaiRequest" message="tns:consultarListaDeNotariosAdai"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/consultarListaDeNotariosAdaiResponse" message="tns:consultarListaDeNotariosAdaiResponse"/>
    </operation>
    <operation name="entidad">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/entidadRequest" message="tns:entidad"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/ConsultarListaDeNotarios/entidadResponse" message="tns:entidadResponse"/>
    </operation>
  </portType>
  <binding name="ConsultarListaDeNotariosPortBinding" type="tns:ConsultarListaDeNotarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="consultarListaDeNotarios">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarListaDeNotariosAdai">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="entidad">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConsultarListaDeNotarios">
    <port name="ConsultarListaDeNotariosPort" binding="tns:ConsultarListaDeNotariosPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

