web/wsdl/RegistraActualizaYConsultaCaso.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://webservices.cancelacion.gisnet.com/" name="RegistraActualizaYConsultaCaso" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservices.cancelacion.gisnet.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.cancelacion.gisnet.com/" schemaLocation="RegistraActualizaYConsultaCaso_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="registraCaso">
    <part name="parameters" element="tns:registraCaso"/>
  </message>
  <message name="registraCasoResponse">
    <part name="parameters" element="tns:registraCasoResponse"/>
  </message>
  <message name="actualizaCaso">
    <part name="parameters" element="tns:actualizaCaso"/>
  </message>
  <message name="actualizaCasoResponse">
    <part name="parameters" element="tns:actualizaCasoResponse"/>
  </message>
  <message name="consultaCaso">
    <part name="parameters" element="tns:consultaCaso"/>
  </message>
  <message name="consultaCasoResponse">
    <part name="parameters" element="tns:consultaCasoResponse"/>
  </message>
  <portType name="RegistraActualizaYConsultaCaso">
    <operation name="registraCaso">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/registraCasoRequest" message="tns:registraCaso"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/registraCasoResponse" message="tns:registraCasoResponse"/>
    </operation>
    <operation name="actualizaCaso">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/actualizaCasoRequest" message="tns:actualizaCaso"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/actualizaCasoResponse" message="tns:actualizaCasoResponse"/>
    </operation>
    <operation name="consultaCaso">
      <input wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/consultaCasoRequest" message="tns:consultaCaso"/>
      <output wsam:Action="http://webservices.cancelacion.gisnet.com/RegistraActualizaYConsultaCaso/consultaCasoResponse" message="tns:consultaCasoResponse"/>
    </operation>
  </portType>
  <binding name="RegistraActualizaYConsultaCasoPortBinding" type="tns:RegistraActualizaYConsultaCaso">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="registraCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizaCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultaCaso">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RegistraActualizaYConsultaCaso">
    <port name="RegistraActualizaYConsultaCasoPort" binding="tns:RegistraActualizaYConsultaCasoPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

